body {
    
}
#top {
    padding: 180px 0;
    font-family: 'News Cycle';
    text-align: center;
}
#copyright {
    background-color: #888888;
    padding: 20px 0;
}
.bg {
    display: block;
    background-attachment: fixed;
    background-image: url(Stock2.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 500px;
}
.bg2 {
    display: block;
    background-attachment: fixed;
    background-image: url(stock.jpg);
    background-position: bottom;
    background-size: cover;
    padding:  300px 0;
}
.bg3 {
    display: block;
    background-attachment: fixed;
    background-image: url(road.jpg);
    background-size: cover;
    padding: 300px 0;
}
.bg4 {
    display: block;
    background-attachment: fixed;
    background-image: url("https://scontent-a-mia.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10477291_10152521288887241_2293285845097671467_o.jpg?dl=1");
    background-size: cover;
    padding: 300px 0;
}
.bg5 {
    display: block;
    background-attachment: fixed;
    background-image: url("https://unsplash.imgix.net/26/hazy-tree.JPG?q=75&fm=jpg&s=429f8518c688865ad4a7ba5f463e166f");
    background-size: cover;
    padding: 300px 0;
}
.bg6 {
    display: block;
    background-attachment: fixed;
    background-image: url("https://unsplash.imgix.net/uploads/1411419068566071cef10/7562527b?q=75&fm=jpg&s=db09eb7e925e320ab2305438d97ca9f8");
    background-size: cover;
    padding: 300px 0;
}
.contact {
    line-height: 2;
}
#work {
    font-family: 'News Cycle';
}
#work > .name {
    text-align: center;
    font-weight: 700;
}
#work > .description {
    text-align: center;
}
.spark {
    width: 300px;
    border-radius: 30px;
    vertical-align: middle;
}
.col-md-7 > .name {
    text-align: center;
    font-weight: 700;
}
.col-md-7 > .role {
    text-align: center;
}
.col-md-7 > .year {
    text-align: center;
}
.col-md-7 > .description {
    text-align: center;
    line-height: 1.5;
}
#education {
    font-family: 'News Cycle';
}
#education > .name {
    font-weight: 700;
    text-align: center;
}
#education > .description {
    text-align: center;
}
.jak {
    width: 200px;
}
#khs {
    width: 350px;
    vertical-align: middle;
}
.col-md-7 {
    vertical-align: middle;
}
.photo {
    width: 300px;
}
.me {
    vertical-align: middle;
    border-radius: 50px;
}
.gpa {
    text-align: center;
}
#skills {
    font-family: 'News Cycle';
}
#skills > .name {
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
}
#skills > .description {
    text-align: center;
}
img {
    vertical-align: middle;
}
#certifications {
    font-family: 'News Cycle';
}
#certifications > .name {
    text-align: center;
    font-weight: 700;
}
#certifications > .description {
    text-align: center;
}
#awards {
    font-family: 'News Cycle';
}
#awards > .name {
    text-align: center;
    font-weight: 700;
}
#awards > .description {
    text-align: center
}
footer {
    font-family: 'News Cycle';
}
footer > .name {
    font-weight: 700;
    text-align: center;
}
.note {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}
.col-sm-4 > .name {
    text-align: center;
}
.copyright {
    text-align: center;
}
@media (max-width: 700px) {
    .contact {
        line-height: 1.5;
    }
    .spark {
        margin: 0;
        min-height: 100px;
        max-height: 400px;
    }
    #top {
        padding: 200px 10px;
    }
    .jak {
        vertical-align: middle;
        position: relative;
        left: 50px;
    }
    .photo {
        vertical-align: middle;
        position: relative;
        left: 40px;
    }
    #khs {
        min-width: 100px;
        max-width: 500px;
    }
    img {
        border: 0;
        vertical-align: middle;
    }
}
@media (max-width: 400px) {
    .spark {
        width: 230px;
    }
    .jak {
        position: relative;
        width: 150px;
    }
    .photo {
        width: 150px
    }
}
    