#top {
    padding: 50px 10px;
    font-family: 'News Cycle';
    text-align: center;
}
.bg {
    display: block;
    background-attachment: fixed;
    background-image: url(stock.jpg);
    background-size: cover;
    padding: 500px;
}